<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226237725544-762ap9g7lccpqbr4amnqfo2uldcu46po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226237725544-762ap9g7lccpqbr4amnqfo2uldcu46po</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ScFpA9gVlk3N7mUnn5c7ykYmbsOlLAk</string>
	<key>GCM_SENDER_ID</key>
	<string>226237725544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instatrack.intatrack</string>
	<key>PROJECT_ID</key>
	<string>instatrack-e989c</string>
	<key>STORAGE_BUCKET</key>
	<string>instatrack-e989c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226237725544:ios:91cd65372ebf15d2e2f4dd</string>
</dict>
</plist>